 body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #0d0f10;
      color: white;
    }

    
    .menu {
      background-color: #3b8a2e;
      padding: 15px;
      text-align: center;
    }

    .menu a {
      color: white;
      text-decoration: none;
      margin: 0 15px;
      font-weight: bold;
    }

    .menu a:hover {
      color: #ffdd00; 
    }

    h1 {
      text-align: center;
      margin-top: 40px;
      text-shadow: 2px 2px #000;
    }
 
